{% extends "master.html" %}

{% block content %}

    <div class="locations">
    <table cellpadding="10" cellspacing="10" width="100%">
    <tr>
    <th>Name</th>
	<th>Address</th>
	<th>Geo</th>
	<th>DoDads</th>
	<th>User Rating</th>
	<th>Created</th>
	</tr>
	{% for loc in locations %}
	<tr>
		<td><a href="/editlocation?id={{ loc.key }}">{{ loc.name }}</td>
		<td>{{ loc.get_address }}</td>
		<td>{{ loc.geo }}</td>
		{% if loc.items %}
		<td>{{ loc.items.count }}</td>
		{% else %}
		<td>&nbsp;</td>
		{% endif %}
		<td>{{ loc.rating }}</td>
		<td>{{ loc.created|date:"D d M Y"}}</td>
	</tr>
	{% endfor %}
	</table>
	<div><a href="/editlocation">New</a></div>
	</div>

{% endblock %}