{% extends "master.html" %}

{% block content %}

<div class="mainColumn" id="someform">
	<form action="/login" method="post">
		<h1>Login</h1>
        <div class="section">
			<label for="name">Email Address:</label>
			<input type="text" name="email" />
		</div>	
		<div class="section">
			<label for="name">Password:</label>
			<input type="password" name="password" />
		</div>		
		<div><input type="submit" class="button" value="Login"></div>	
		<div>{{ message }}</div>
	</form>
	
</div>




{% endblock %}